.items{
    background-color: rgb(94, 244, 255);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(214, 214, 93);
}
a.link{
    text-decoration: none;
    color: green;
    font-weight: 800;
    font-size: 25px;
}